body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafb;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

a {
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.content {
    padding: 5rem 0;
}

.bg-question {
    background-color: #87e9fd30;
}

.bg-answer {
    background-color: #fff;
}

h2 {
    font-size: 20px;
}

@media (max-width: 991.98px) {
    .content {
        padding: 3rem 0;
    }

    .content .bg {
        height: 500px;
    }
}

.content .contents,
.content .bg {
    width: 50%;
}

@media (max-width: 1199.98px) {

    .content .contents,
    .content .bg {
        width: 100%;
    }
}

.content .contents .form-group,
.content .bg .form-group {
    position: relative;
}

.content .contents .form-group label,
.content .bg .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s all ease;
}

.content .contents .form-group input,
.content .bg .form-group input {
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.content .contents .form-group.first,
.content .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.content .contents .form-group.last,
.content .bg .form-group.last {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.content .contents .form-group label,
.content .bg .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3;
}

.content .contents .form-group.focus,
.content .bg .form-group.focus {
    background: #fff;
}

.content .contents .form-group.field--not-empty label,
.content .bg .form-group.field--not-empty label {
    margin-top: -25px;
}

.content .contents .form-control,
.content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0;
}

.content .contents .form-control:active,
.content .contents .form-control:focus,
.content .bg .form-control:active,
.content .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content .bg {
    background-size: cover;
    background-position: center;
}

.content a {
    color: #888;
    text-decoration: underline;
}

.content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.content .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.content .register {
    position: relative;
    top: 2px;
    color: #38d39f;
    cursor: pointer;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #38d39f;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #4dd8a9;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #38d39f;
    opacity: 0.2;
}

.card.card-style {
    border: none;
    box-shadow: 0px 11px 30px -9px rgba(0, 0, 0, 0.25);
}

.card.card-style .card-header {
    background: #38d39f;
    border: none;
    color: #fff;
}

.card.card-style .card-text {
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card.card-style .author {
    font-size: 14px;
    color: #000;
}

.card.card-style .created-by {
    font-size: 10px;
}

.btn-primary,
.card.card-style .btn-primary {
    background: #38d39f;
    color: #fff;
}

.btn-primary:hover,
.card.card-style .btn-primary:hover,
.content .contents .btn-change-profile:hover {
    background: #29bb8a;
    border-color: #27b183;
}

.badge-secondary {
    font-size: 12px;
    background-color: #bbbbbb;
}

.badge-like {
    font-size: 12px;
    color: #fff;
    background-color: #ffc107;
}

.badge-upvote {
    font-size: 12px;
    color: #fff;
    background-color: #38d39f;
}

.badge-dislike,
.badge-no-upvote {
    font-size: 12px;
    color: #fff;
    background-color: #bbbbbb;
}

.hover-animation {
    animation: blur-load 0.5s;
}

@keyframes blur-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card.card-style .card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    background: #fff;
}

.like {
    color: #ffc107;
}

/* .like:hover {
    animation: fill-color-like 0.4s;
    color: #6c757d;
} */

.fill-color-dislike {
    animation: fill-color-dislike 0.4s;
    color: #bbbbbb;
}

@keyframes fill-color-dislike {
    from {
        color: #ffc107;
    }
    to {
        color: #bbbbbb;
    }
}

.dislike {
    color: #bbbbbb;
}

/* .dislike:hover {
    animation: fill-color-dislike 0.4s;
    color: #ffc107;
} */

.fill-color-like {
    animation: fill-color-like 0.4s;
    color: #ffc107;
}

@keyframes fill-color-like {
    from {
        color: #bbbbbb;
    }
    to {
        color: #ffc107;
    }
}

.upvote {
    color: #38d39f;
}

/* .upvote:hover {
    animation: fill-color-upvote 0.4s;
    color: #6c757d;
} */

.fill-color-no-upvote {
    animation: fill-color-no-upvote 0.4s;
    color: #bbbbbb;
}

@keyframes fill-color-no-upvote {
    from {
        color: #38d39f;
    }
    to {
        color: #bbbbbb;
    }
}

.no-upvote {
    color: #bbbbbb;
}

/* .no-upvote:hover {
    animation: fill-color-no-upvote 0.4s;
    color: #38d39f;
} */

.fill-color-upvote {
    animation: fill-color-upvote 0.4s;
    color: #38d39f;
}

@keyframes fill-color-upvote {
    from {
        color: #bbbbbb;
    }
    to {
        color: #38d39f;
    }
}

.downvote {
    color: #d33838;
}

.views {
    color: #388dd3;
}

img.badge-custom {
    height: 150px;
    width: 150px;
}

img.badge-profile {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    margin-top: -20px;
    margin-right: -20px;
}

@media (max-width: 768px) {
    img.badge-profile {
        position: absolute;
        right: 0;
        top: 0;
        height: 100px;
        width: 100px;
        margin-top: -35px;
        margin-right: -35px;
    }
}

.alert .alert-message {
    color: #fff;
}

.alert.alert-error {
    background: #f2395f;
    border-color: #f2395f;
}

.alert.alert-info {
    background: #29cded;
    border-color: #29cded;
}

.alert.alert-success {
    background: #38cd8b;
    border-color: #38cd8b;
}

.alert.alert-warning {
    background: #f89647;
    border-color: #f89647;
}

.alert .alert-error-icon {
    color: #fff;
}

.alert .alert-close-icon {
    color: #fff;
}

.content .contents .form-control, .content .bg .form-control span.input-disabled,
.select-dropdown {
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.content .contents input[type="file"] {
    display: none;
}

.content .contents .btn-change-profile {
    height: auto;
    color: #fff;
    font-size: 10px;
}

@media (max-width: 991.98px) {
    .content .contents .btn-change-profile {
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
        color: #fff;
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .content .contents .btn-change-profile {
        height: auto;
        color: #fff;
        font-size: 10px;
    }
}

.select--no-search .select2-search {
    display: none !important;
}

.rs-select2 .select2-container {
    width: 100% !important;
    outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
    outline: none;
    border: none;
    height: 36px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    color: #808080;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
    font-family: 'icomoon';
    content: '\f078';
    font-size: 12px;
    color: #ccc;
    transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
    transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
}