<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to StackOverflow{% endblock title %}</title>
    {% block css %}
    {% endblock css %}

    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
    {% endblock content %}

    <script src="{% static '/jQuery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/popper/popper.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>

    {% block js %}
    {% endblock js %}
</body>
</html>