{% extends 'navbar.html' %}

{% block title %}
    Discover | StackOverflow
{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock css %}

{% block DiscoverActive %}
    active
{% endblock DiscoverActive %}

{% block DiscoverCurrent %}
    <span class="sr-only">(current)</span>
{% endblock DiscoverCurrent %}

{% block content %}
    <div class="container-fluid py-xl-5 py-4 px-xl-5 px-lg-4 px-3">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-10 col-12 mb-4">
                <div class="card card-style">
                    <h6 class="d-flex align-items-center card-header py-3">
                        <span class="text-left w-75">
                            Difference Between MVC and MVT Architecture Difference Between MVC and MVT Architecture
                        </span>
                        <span class="ml-auto text-right">
                            <span class="created-by">Created by,</span><br>
                            <span class="author">Shubh Patel</span>
                        </span>
                    </h6>
                    <div class="card-body">
                        <h6 class="card-title">Answer Title</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium adipisci, molestias officia
                            recusandae iusto numquam modi debitis nulla nesciunt alias, doloremque tempora dolorem veniam
                            iste nostrum nisi! Pariatur, suscipit at. Ad, beatae deleniti animi laboriosam vitae unde
                            numquam nobis voluptatum quam doloribus excepturi sint rerum distinctio quia necessitatibus
                            nesciunt nihil sunt quis iste quos omnis? Itaque recusandae architecto soluta aperiam sit
                            accusantium, voluptatibus dolor assumenda magni debitis, in sunt saepe fugiat iure totam libero
                            temporibus. Explicabo suscipit non reiciendis laboriosam ab architecto ad vitae quas molestiae
                            natus deserunt voluptatem unde voluptates odio assumenda exercitationem quis illum dolore nemo,
                            possimus modi quae sit voluptate dignissimos! Ducimus iusto ipsum corporis reiciendis repellat
                            dolorem illum tempore numquam porro? Sit, accusamus velit sequi non consectetur delectus
                            deleniti nihil iste exercitationem pariatur quaerat praesentium ab natus mollitia esse
                            dignissimos doloremque! Odio accusantium eligendi dolorum libero dolores nobis animi atque, nisi
                            ut provident deserunt saepe error voluptates placeat sit incidunt commodi? Labore magnam optio
                            rerum nisi fuga ipsam quaerat omnis esse maiores quia. Consequatur quae accusamus maxime dolorum
                            obcaecati optio quo ex, neque quibusdam. Magnam est molestias commodi autem, ab pariatur
                            repellat eius, assumenda, ipsa qui ea nihil beatae iusto delectus neque accusantium placeat
                            voluptatum dicta saepe perferendis! Nam accusantium quod minima laborum dignissimos minus!
                            Cumque architecto perspiciatis nulla dolores minus ex neque harum quisquam exercitationem
                            mollitia amet quae, quo laboriosam vero qui accusantium consequuntur quia voluptatibus
                            reprehenderit sapiente suscipit esse perferendis. Possimus eveniet odio, provident molestiae
                            ducimus, eius cupiditate, architecto quis sit rem unde fugit culpa consequuntur. Odio, ex.
                            Veniam sequi sint possimus accusantium placeat nobis facere quaerat, eveniet architecto culpa!
                            Neque, amet distinctio nostrum laborum voluptate voluptatibus ab adipisci dolorem? Consequatur
                            ipsum qui vel, necessitatibus suscipit cupiditate inventore quia tenetur, provident, minima odit
                            asperiores id maxime. Error nobis exercitationem recusandae. Atque mollitia nulla quisquam,
                            eveniet vero expedita recusandae officiis officia dolor. Reiciendis corporis nulla quasi in modi
                            et unde sit placeat, ea ex explicabo illum, nobis optio quisquam impedit veniam numquam
                            mollitia. Modi fuga similique magni possimus at officia voluptates veniam in ducimus tenetur
                            quae repellat dicta atque nesciunt laboriosam beatae nulla, quaerat neque ipsum quasi! Et, ea
                            optio deserunt iure ab aperiam, illum repudiandae nostrum voluptates ullam quia nulla id dolores
                            culpa odit? Laboriosam molestiae asperiores amet recusandae eligendi est, adipisci labore
                            exercitationem dolorum, dicta nulla non iusto error commodi quasi officiis. Id dignissimos
                            aliquid doloremque cupiditate vero optio alias officiis error explicabo tenetur quam illo unde
                            esse facere nobis officia accusantium suscipit saepe, possimus veritatis non quos nihil iure
                            ipsam? Animi minima, ut autem corporis deserunt earum esse suscipit doloribus omnis voluptates,
                            illum atque sed perferendis quos pariatur vitae officiis impedit neque ipsam. Porro error id
                            aperiam fuga molestias dolor minus sapiente cupiditate nihil harum? Dicta eius nemo natus
                            labore, saepe voluptatibus laborum perferendis suscipit quisquam, assumenda vel provident, nobis
                            doloribus culpa sunt atque consequatur impedit deleniti cupiditate voluptatum distinctio quasi
                            accusantium praesentium? Excepturi veniam voluptate quisquam inventore quas. Reprehenderit
                            fugiat sed impedit. Fugiat ipsum necessitatibus reiciendis iure exercitationem? Officia, quaerat
                            quam.
                        </p>
                        <div class="row">
                            <div class="col-md-4 text-md-left text-center">
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="col-md-8 text-md-right mt-md-0 mt-3">
                                <span class="badge-secondary py-1 px-2 rounded">MVC</span>
                                <span class="badge-secondary py-1 px-2 rounded">MVT</span>
                                <span class="badge-secondary py-1 px-2 rounded">Django</span>
                                <span class="badge-secondary py-1 px-2 rounded">Node.js</span>
                                <span class="badge-secondary py-1 px-2 rounded">React</span>
                                <span class="badge-secondary py-1 px-2 rounded">MVC</span>
                                <span class="badge-secondary py-1 px-2 rounded">MVT</span>
                                <span class="badge-secondary py-1 px-2 rounded">Django</span>
                                <span class="badge-secondary py-1 px-2 rounded">Node.js</span>
                                <span class="badge-secondary py-1 px-2 rounded">React</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <span class="w-50">
                            <button type="button" class="btn px-1 py-0">
                                <em class="bi bi-caret-up-square-fill upvote"></em>
                                <span class="mx-1">10</span>
                            </button>
                            <button type="button" class="btn px-1 py-0">
                                <em class="bi bi-caret-down-square-fill downvote"></em>
                                <span class="mx-1">5</span>
                            </button>
                            <button type="button" class="btn px-1 py-0">
                                <em class="bi bi-eye-fill views"></em>
                                <span class="mx-1">71</span>
                            </button>
                        </span>
                        <span class="text-right text-muted w-50">
                            Oct 10, 2021
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-10 col-12 mb-4">
                <div class="card card-style">
                    <h6 class="d-flex align-items-center card-header py-3">
                        <span class="text-left w-75">
                            Difference Between MVC and MVT Architecture Difference Between MVC and MVT Architecture
                        </span>
                        <span class="ml-auto text-right">
                            <span class="created-by">Created by,</span><br>
                            <span class="author">Shubh Patel</span>
                        </span>
                    </h6>
                    <div class="card-body">
                        <h6 class="card-title">Answer Title</h6>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium adipisci, molestias officia
                            recusandae iusto numquam modi debitis nulla nesciunt alias, doloremque tempora dolorem veniam
                            iste nostrum nisi! Pariatur, suscipit at. Ad, beatae deleniti animi laboriosam vitae unde
                            numquam nobis voluptatum quam doloribus excepturi sint rerum distinctio quia necessitatibus
                            nesciunt nihil sunt quis iste quos omnis? Itaque recusandae architecto soluta aperiam sit
                            accusantium, voluptatibus dolor assumenda magni debitis, in sunt saepe fugiat iure totam libero
                            temporibus. Explicabo suscipit non reiciendis laboriosam ab architecto ad vitae quas molestiae
                            natus deserunt voluptatem unde voluptates odio assumenda exercitationem quis illum dolore nemo,
                            possimus modi quae sit voluptate dignissimos! Ducimus iusto ipsum corporis reiciendis repellat
                            dolorem illum tempore numquam porro? Sit, accusamus velit sequi non consectetur delectus
                            deleniti nihil iste exercitationem pariatur quaerat praesentium ab natus mollitia esse
                            dignissimos doloremque! Odio accusantium eligendi dolorum libero dolores nobis animi atque, nisi
                            ut provident deserunt saepe error voluptates placeat sit incidunt commodi? Labore magnam optio
                            rerum nisi fuga ipsam quaerat omnis esse maiores quia. Consequatur quae accusamus maxime dolorum
                            obcaecati optio quo ex, neque quibusdam. Magnam est molestias commodi autem, ab pariatur
                            repellat eius, assumenda, ipsa qui ea nihil beatae iusto delectus neque accusantium placeat
                            voluptatum dicta saepe perferendis! Nam accusantium quod minima laborum dignissimos minus!
                            Cumque architecto perspiciatis nulla dolores minus ex neque harum quisquam exercitationem
                            mollitia amet quae, quo laboriosam vero qui accusantium consequuntur quia voluptatibus
                            reprehenderit sapiente suscipit esse perferendis. Possimus eveniet odio, provident molestiae
                            ducimus, eius cupiditate, architecto quis sit rem unde fugit culpa consequuntur. Odio, ex.
                            Veniam sequi sint possimus accusantium placeat nobis facere quaerat, eveniet architecto culpa!
                            Neque, amet distinctio nostrum laborum voluptate voluptatibus ab adipisci dolorem? Consequatur
                            ipsum qui vel, necessitatibus suscipit cupiditate inventore quia tenetur, provident, minima odit
                            asperiores id maxime. Error nobis exercitationem recusandae. Atque mollitia nulla quisquam,
                            eveniet vero expedita recusandae officiis officia dolor. Reiciendis corporis nulla quasi in modi
                            et unde sit placeat, ea ex explicabo illum, nobis optio quisquam impedit veniam numquam
                            mollitia. Modi fuga similique magni possimus at officia voluptates veniam in ducimus tenetur
                            quae repellat dicta atque nesciunt laboriosam beatae nulla, quaerat neque ipsum quasi! Et, ea
                            optio deserunt iure ab aperiam, illum repudiandae nostrum voluptates ullam quia nulla id dolores
                            culpa odit? Laboriosam molestiae asperiores amet recusandae eligendi est, adipisci labore
                            exercitationem dolorum, dicta nulla non iusto error commodi quasi officiis. Id dignissimos
                            aliquid doloremque cupiditate vero optio alias officiis error explicabo tenetur quam illo unde
                            esse facere nobis officia accusantium suscipit saepe, possimus veritatis non quos nihil iure
                            ipsam? Animi minima, ut autem corporis deserunt earum esse suscipit doloribus omnis voluptates,
                            illum atque sed perferendis quos pariatur vitae officiis impedit neque ipsam. Porro error id
                            aperiam fuga molestias dolor minus sapiente cupiditate nihil harum? Dicta eius nemo natus
                            labore, saepe voluptatibus laborum perferendis suscipit quisquam, assumenda vel provident, nobis
                            doloribus culpa sunt atque consequatur impedit deleniti cupiditate voluptatum distinctio quasi
                            accusantium praesentium? Excepturi veniam voluptate quisquam inventore quas. Reprehenderit
                            fugiat sed impedit. Fugiat ipsum necessitatibus reiciendis iure exercitationem? Officia, quaerat
                            quam.
                        </p>
                        <div class="row">
                            <div class="col-md-4 text-md-left text-center">
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="col-md-8 text-md-right mt-md-0 mt-3">
                                <span class="badge-secondary py-1 px-2 rounded">MVC</span>
                                <span class="badge-secondary py-1 px-2 rounded">MVT</span>
                                <span class="badge-secondary py-1 px-2 rounded">Django</span>
                                <span class="badge-secondary py-1 px-2 rounded">Node.js</span>
                                <span class="badge-secondary py-1 px-2 rounded">React</span>
                                <span class="badge-secondary py-1 px-2 rounded">MVC</span>
                                <span class="badge-secondary py-1 px-2 rounded">MVT</span>
                                <span class="badge-secondary py-1 px-2 rounded">Django</span>
                                <span class="badge-secondary py-1 px-2 rounded">Node.js</span>
                                <span class="badge-secondary py-1 px-2 rounded">React</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <span class="w-50">
                            <button type="button" class="btn px-1 py-0">
                                <em class="bi bi-caret-up-square-fill upvote"></em>
                                <span class="mx-1">10</span>
                            </button>
                            <button type="button" class="btn px-1 py-0">
                                <em class="bi bi-caret-down-square-fill downvote"></em>
                                <span class="mx-1">5</span>
                            </button>
                            <button type="button" class="btn px-1 py-0">
                                <em class="bi bi-eye-fill views"></em>
                                <span class="mx-1">71</span>
                            </button>
                        </span>
                        <span class="text-right text-muted w-50">
                            Oct 10, 2021
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}