{% extends 'navbar.html' %}

{% block title %}
Question | Editor | StackOverflow
{% endblock title %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

{% load static %}
<link rel="stylesheet" href="{% static '/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" href="{% static '/css/editor.css' %}">
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock css %}

{% block content %}
<div class="content p-5">
    <div class="container-fluid contents w-100">
        <form method="POST" action="{% url 'add_question' %}" onsubmit="post()">
        {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group question-title">
                        <label style="font-size: 15px;">Question Title</label>
                        <input type="text" name="questionTitle" class="form-control" style="font-size: 30px;" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" name="questionTag" class="form-control" placeholder="Tags" data-role="tagsinput" size="10" style="font-size:15px;">
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 m-0 ce-example">
                <div class="ce-example__content _ce-example__content--small">
                    <div class="row">
                        <div class="col-12" id="editorjs"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 sr-only">
                            <textarea name="jsonData" class="w-100" id="jsonData" readonly></textarea>
                        </div>
                        <div class="col-sm-6 col-12 justify-content-right">
                            <div class="ce-example__button" id="saveButton">
                                Save
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-left">
                            <div class="ce-example2__button">
                                <input type="submit" value="Post"
                                    style="background: transparent; border: 0; color: #fff; font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;">
                            </div>
                        </div>
                    </div>
                {% comment %} <div class="ce-example__statusbar">
                    Readonly:
                    <strong id="readonly-state">
                        Off
                    </strong>
                    <div class="ce-example__statusbar-button" id="toggleReadOnlyButton">
                        toggle
                    </div>
                </div> {% endcomment %}
                </div>
            </div>
            {% comment %} <div class="ce-example__output">
                <pre class="ce-example__output-content" id="output"></pre>
            </div> {% endcomment %}
        </form>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static '/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
<script src="{% static '/js/signin.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>

<!-- Base Image Tool<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->

<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

<!-- Load Editor.js's Core -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<!-- Initialization -->
<script>
    function post() {
        textarea = document.getElementById("jsonData");
        editor.save().then(
            (savedData) => {
                blocksData = JSON.stringify(savedData);
                // console.log(blocksData);
                textarea.innerHTML = blocksData;
            }
        );
    }
</script>
<script>
    /**
     * To initialize the Editor, create a new instance with configuration object
     * @see docs/installation.md for mode details
     */
    var editor = new EditorJS({
        /**
         * Enable/Disable the read only mode
         */
        readOnly: false,

        /**
         * Wrapper of Editor
         */
        holder: 'editorjs',

        /**
         * Common Inline Toolbar settings
         * - if true (or not specified), the order from 'tool' property will be used
         * - if an array of tool names, this order will be used
         */
        // inlineToolbar: ['link', 'marker', 'bold', 'italic'],
        // inlineToolbar: true,

        /**
         * Tools list
         */
        tools: {
            /**
             * Each Tool is a Plugin. Pass them via 'class' option with necessary settings {@link docs/tools.md}
             */
            header: {
                class: Header,
                inlineToolbar: ['marker', 'link'],
                config: {
                    placeholder: 'Header'
                },
                shortcut: 'CMD+SHIFT+H'
            },

            /**
             * Or pass class directly without any configuration
             */
            image: {
                class: ImageTool,
                config: {
                    endpoints: {
                        byFile: '/question/uploadImg/'
                    }
                },
                inlineToolbar: true
            },

            list: {
                class: List,
                inlineToolbar: true,
                shortcut: 'CMD+SHIFT+L'
            },

            checklist: {
                class: Checklist,
                inlineToolbar: true,
            },

            quote: {
                class: Quote,
                inlineToolbar: true,
                config: {
                    quotePlaceholder: 'Enter a quote',
                    captionPlaceholder: 'Quote\'s author',
                },
                shortcut: 'CMD+SHIFT+O'
            },

            warning: Warning,

            marker: {
                class: Marker,
                shortcut: 'CMD+SHIFT+M'
            },

            code: {
                class: CodeTool,
                shortcut: 'CMD+SHIFT+C'
            },

            delimiter: Delimiter,

            inlineCode: {
                class: InlineCode,
                shortcut: 'CMD+SHIFT+C'
            },

            linkTool: LinkTool,

            embed: Embed,

            table: {
                class: Table,
                inlineToolbar: true,
                shortcut: 'CMD+ALT+T'
            },

        },

        /**
         * This Tool will be used as default
         */
        // defaultBlock: 'paragraph',

        /**
         * Initial Editor data
         */
        data: {
            "time": 1634802120656,
            "blocks": [{
                    "id": "jsRrqu9rdl",
                    "type": "header",
                    "data": {
                        "text": "Type Here to Create a Question Content",
                        "level": 4
                    }
                },
                {
                    "id": "1LWIXxfk2z",
                    "type": "image",
                    "data": {
                        "file": {},
                        "caption": "",
                        "withBorder": false,
                        "stretched": false,
                        "withBackground": false
                    }
                },
                {
                    "id": "f7RBW0rGQh",
                    "type": "paragraph",
                    "data": {
                        "text": "Question Body with Details"
                    }
                },
                {
                    "id": "1xOKXV2iMW",
                    "type": "paragraph",
                    "data": {
                        "text": "<b>Bold Text</b>"
                    }
                },
                {
                    "id": "86o9ZsRS6s",
                    "type": "paragraph",
                    "data": {
                        "text": "<i>italic text</i>"
                    }
                },
                {
                    "id": "5wqvwGOtsD",
                    "type": "paragraph",
                    "data": {
                        "text": "<a href=\"http://www.google.com\">HyperLink</a>"
                    }
                },
                {
                    "id": "kMEFIdYwQT",
                    "type": "list",
                    "data": {
                        "style": "ordered",
                        "items": [
                            "List 1",
                            "List 2"
                        ]
                    }
                },
                {
                    "id": "c6RoA8-2nW",
                    "type": "list",
                    "data": {
                        "style": "unordered",
                        "items": [
                            "Item 1",
                            "Item 2"
                        ]
                    }
                },
                {
                    "id": "7hLPKJ8yVx",
                    "type": "checklist",
                    "data": {
                        "items": [{
                            "text": "CheckList",
                            "checked": false
                        }]
                    }
                },
                {
                    "id": "1bswmc2X9k",
                    "type": "quote",
                    "data": {
                        "text": "Quoted Text",
                        "caption": "Author Name",
                        "alignment": "left"
                    }
                },
                {
                    "id": "Uf9pqiRodT",
                    "type": "paragraph",
                    "data": {
                        "text": "<mark class=\"cdx-marker\">Highlighted Text</mark>"
                    }
                },
                {
                    "id": "XETVKp9b-d",
                    "type": "paragraph",
                    "data": {
                        "text": "<code class=\"inline-code\">Inline Code</code>"
                    }
                },
                {
                    "id": "Vs9iYJfUHe",
                    "type": "warning",
                    "data": {
                        "title": "Warning Title",
                        "message": "Warning Body"
                    }
                },
                {
                    "id": "5-3AyQRf1n",
                    "type": "code",
                    "data": {
                        "code": "#include<stdio.h>\nint main()\n{\n  return 0;\n}"
                    }
                },
                {
                    "id": "kt25JFl9fL",
                    "type": "delimiter",
                    "data": {}
                },
                {
                    "id": "tosAJlfSZM",
                    "type": "table",
                    "data": {
                        "withHeadings": false,
                        "content": [
                            [
                                "",
                                "Col1",
                                "Col2"
                            ],
                            [
                                "Row1",
                                "",
                                ""
                            ],
                            [
                                "Row2",
                                "",
                                ""
                            ]
                        ]
                    }
                },
                {
                    "id": "UtLKsi_yYQ",
                    "type": "linkTool",
                    "data": {
                        "link": "https://www.apple.com/in",
                        "meta": {}
                    }
                }
            ],
            "version": "2.22.2"
        },
        onReady: function () {
            saveButton.click();
        },
        onChange: function (api, event) {
            console.log('something changed', event);
        }
    });

    /**
     * Saving button
     */
    const saveButton = document.getElementById('saveButton');

    /**
     * Toggle read-only button
     */
    const toggleReadOnlyButton = document.getElementById('toggleReadOnlyButton');
    const readOnlyIndicator = document.getElementById('readonly-state');

    /**
     * Saving example
     */
    saveButton.addEventListener('click', function () {
        editor.save()
            .then((savedData) => {
                cPreview.show(savedData, document.getElementById("output"));
            })
            .catch((error) => {
                console.error('Saving error', error);
            });
    });

    /**
     * Toggle read-only example
     */
    toggleReadOnlyButton.addEventListener('click', async () => {
        const readOnlyState = await editor.readOnly.toggle();

        readOnlyIndicator.textContent = readOnlyState ? 'On' : 'Off';
    });
</script>
<script>
    /**
     * Module to compose output JSON preview
     */
    const cPreview = (function (module) {
        /**
         * Shows JSON in pretty preview
         * @param {object} output - what to show
         * @param {Element} holder - where to show
         */
        module.show = function (output, holder) {
            /** Make JSON pretty */
            output = JSON.stringify(output, null, 4);
            /** Encode HTML entities */
            output = encodeHTMLEntities(output);
            /** Stylize! */
            output = stylize(output);
            holder.innerHTML = output;
        };

        /**
         * Converts '>', '<', '&' symbols to entities
         */
        function encodeHTMLEntities(string) {
            return string.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        }

        /**
         * Some styling magic
         */
        function stylize(string) {
            /** Stylize JSON keys */
            string = string.replace(/"(\w+)"\s?:/g, '"<span class=sc_key>$1</span>" :');
            /** Stylize tool names */
            string = string.replace(
                /"(paragraph|quote|list|header|link|code|image|delimiter|raw|checklist|table|embed|warning)"/g,
                '"<span class=sc_toolname>$1</span>"');
            /** Stylize HTML tags */
            string = string.replace(/(&lt;[\/a-z]+(&gt;)?)/gi, '<span class=sc_tag>$1</span>');
            /** Stylize strings */
            string = string.replace(/"([^"]+)"/gi, '"<span class=sc_attr>$1</span>"');
            /** Boolean/Null */
            string = string.replace(/\b(true|false|null)\b/gi, '<span class=sc_bool>$1</span>');
            return string;
        }

        return module;
    })({});
</script>
{% endblock js %}