{% extends 'navbar.html' %}

{% block title %}
    Forgot Password | DevTalks
{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock css %}

{% block SignInActive %}
active
{% endblock SignInActive %}

{% block SignInCurrent %}
<span class="sr-only">(current)</span>
{% endblock SignInCurrent %}

{% block content %}
    {% for message in messages %}
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="alert alert-{{ message.tags }}">
                        <div class="container">
                            <div class="d-flex align-items-center">
                                <span class="alert-icon d-flex w-75">
                                    <em class="bi bi-info-square-fill alert-error-icon"></em>
                                    <p class="mb-0 ml-2 alert-message"><strong>Message: </strong>{{ message }}</p>
                                </span>
                                <span class="ml-auto text-right w-25">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <em class="bi bi-x alert-close-icon"></em>
                                        </span>
                                    </button>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="content">
        <div class="container sign-in-content">
            <div class="row">
                <div class="col-md-6 order-md-2 my-md-auto">
                    <img src="{% static '/img/Forgot-password-bro.svg' %}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="mb-4">
                                <h3>Forgot Password to Dev<strong>Talks</strong></h3>
                                <p class="mb-4">World largest community to resolve your all queries. We welcome you to join with us and contribute your new idea.</p>
                            </div>
                            <form action="{% url 'forgot_password' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row mb-4">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Get New Password" class="btn text-white btn-block btn-primary">
                            </form>
                            <div class="mt-4">
                                <h6 class="text-muted">Note:</h6>
                                <p class="mb-4">After click on the <b>Get New Password</b> button please check your email and in that you find new password for your registered account.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src={% static '/js/signin.js' %}></script>
{% endblock js %}
