{% extends 'base.html' %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
{% endblock css %}

{% block navbar %}
    <div class="px-0 bg-primary navbar-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar px-0 navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">Stack<strong>Overflow</strong></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                            aria-label="Toggle navigation">
                            {% comment %} <img src="{% static '/img/menu-button-svgrepo-com.svg' %}" alt=""> {% endcomment %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarsExample03">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item d-flex {% block DiscoverActive %}{% endblock DiscoverActive %}">
                                    <a class="nav-link d-flex align-items-center" href="{% url 'discover' %}">
                                        Discover
                                        {% block DiscoverCurrent %}{% endblock DiscoverCurrent %}
                                    </a>
                                </li>
                                <li class="nav-item d-flex {% block ProfileActive %}{% endblock ProfileActive %}">
                                    <a class="nav-link d-flex align-items-center" href="#">
                                        Profile
                                        {% block ProfileCurrent %}{% endblock ProfileCurrent %}
                                    </a>
                                </li>
                                <li class="nav-item d-flex {% block SettigsActive %}{% endblock SettigsActive %}">
                                    <a class="nav-link d-flex align-items-center" href="#">
                                        Settings
                                        {% block SettingsCurrent %}{% endblock SettingsCurrent %}
                                    </a>
                                </li>
                                <li class="nav-item d-flex {% block SignInActive %}{% endblock SignInActive %}">
                                    <a class="nav-link d-flex align-items-center" href="{% url 'signin' %}">
                                        Sign In
                                        {% block SignInCurrent %}{% endblock SignInCurrent %}
                                    </a>
                                </li>
                            </ul>
                            <form class="form-inline ml-lg-3 my-2 my-lg-0">
                                <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-white rounded-circle my-2 my-sm-0" type="submit">
                                    <em class="bi bi-search"></em>
                                </button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock navbar %}