{% extends 'base.html' %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
{% endblock css %}

{% block navbar %}
    <div class="px-0 bg-primary navbar-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar px-0 navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">Stack<strong>Overflow</strong></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="bi bi-list"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarsExample03">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item d-flex active">
                                    <a class="nav-link d-flex align-items-center" href="#">Discover <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item d-flex">
                                    <a class="nav-link d-flex align-items-center" href="#">Profile</a>
                                </li>
                                <li class="nav-item d-flex">
                                    <a class="nav-link d-flex align-items-center" href="#">Settings</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-white rounded-circle my-2 my-sm-0" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock navbar %}