{% extends 'navbar.html' %}

{% block title %}
    Profile | StackOverflow
{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/datepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock css %}

{% block ProfileActive %}
active
{% endblock ProfileActive %}

{% block ProfileCurrent %}
<span class="sr-only">(current)</span>
{% endblock ProfileCurrent %}

{% block content %}
    {% for message in messages %}
        <div class="container">
            <div class="row">
                <div class="col-12 my-3">
                    <div class="alert alert-{{ message.tags }}">
                        <div class="container">
                            <div class="d-flex align-items-center">
                                <span class="alert-icon d-flex w-75">
                                    <i class="bi bi-info-square-fill alert-error-icon"></i>
                                    <p class="mb-0 ml-2 alert-message"><b>Message: </b>{{ message }}</p>
                                </span>
                                <span class="ml-auto text-right w-25">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="bi bi-x alert-close-icon"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container content p-5">
        <div class="contents profile-content w-100">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="form-row">
                            <div class="col-md-4 col-12 form-group field--not-empty">
                                <label for="profile-picture">Profile Picture</label>
                                <input type="file" accept="image/*" class="form-control w-100" id="profile-picture" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="form-row">
                            <div class="col-md-4 col-12 form-group field--not-empty">
                                <label for="firstname">First Name</label>
                                <input type="text" value="Shubh" class="form-control w-100" id="firstname" required>
                            </div>
                            <div class="col-md-4 col-12 form-group field--not-empty mt-md-0 mt-3">
                                <label for="middlename">Middle Name</label>
                                <input type="text" value="A" class="form-control w-100" id="middlename" required>
                            </div>
                            <div class="col-md-4 col-12 form-group field--not-empty mt-md-0 mt-3">
                                <label for="lastname">Last Name</label>
                                <input type="text" value="Patel" class="form-control w-100" id="lastname" required>
                            </div>
                        </div>
                        <div class="form-row mt-md-4 mt-0">
                            <div class="col-md-4 col-12 form-group field--not-empty mt-md-0 mt-3">
                                <label for="username">Username</label>
                                <input type="text" value="shubh2601" class="form-control text-muted w-100" id="username" readonly>
                            </div>
                            <div class="col-md-8 col-12 form-group field--not-empty mt-md-0 mt-3">
                                <label for="email">Email</label>
                                <input type="email" value="shubh@gmail.com" class="form-control text-muted w-100" id="email" readonly>
                            </div>
                        </div>
                        <div class="form-row mt-md-4 mt-0">
                            <div class="col-md-4 col-12 form-group d-flex align-items-center field--not-empty">
                                <label for="birthdate">Birthdate</label>
                                <input class="form-control js-datepicker" type="text" name="birthdate">
                                <i class="bi bi-calendar3"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src={% static '/datepicker/moment.min.js' %}></script>
    <script src={% static '/datepicker/daterangepicker.js' %}></script>
    <script src={% static '/js/signin.js' %}></script>
    <script src={% static '/js/dateinput.js' %}></script>
{% endblock js %}