{% extends 'navbar.html' %}

{% block title %}
Question | Read | StackOverflow
{% endblock title %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

{% load static %}
<link rel="stylesheet" href="{% static '/css/editor.css' %}">
<link rel="stylesheet" href="{% static '/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock css %}

{% block content %}
{% for message in messages %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <div class="alert alert-{{ message.tags }}">
                    <div class="container">
                        <div class="d-flex align-items-center">
                            <span class="alert-icon d-flex w-75">
                                <i class="bi bi-info-square-fill alert-error-icon"></i>
                                <p class="mb-0 ml-2 alert-message"><b>Message: </b>{{ message }}</p>
                            </span>
                            <span class="ml-auto text-right w-25">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="bi bi-x alert-close-icon"></i>
                                    </span>
                                </button>
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="content bg-question p-5">
    <div class="container-fluid contents w-100">
        <div class="row">
            <div class="col-12">
                <div class="form-group question-title field--not-empty">
                    <label style="font-size: 15px;">Question Title</label>
                    <input type="text" value="{{ question.title }}" name="questionTitle" class="form-control" style="font-size: 30px;" readonly>
                </div>
            </div>
            <div class="col-12 field--not-empty text-right">
                {% for tag in question.tags.all %}
                    {% if tag.tag|length %}
                        <span class="badge-secondary py-1 px-2 rounded">{{ tag.tag }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid p-0 ce-example">
            <div class="ce-example__content _ce-example__content--small">
                <div class="row">
                    <div class="col-12" id="editorjs-que"></div>
                </div>
                {% comment %} <div class="row">
                    <div class="col-sm-6 col-12 justify-content-right">
                        <div class="ce-example__button" id="saveButton">
                            Save
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 text-left">
                        <div class="ce-example2__button">
                            <input type="submit" value="Post"
                                style="background: transparent; border: 0; color: #fff; font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;">
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="ce-example__statusbar">
                    Readonly:
                    <strong id="readonly-state">
                        Off
                    </strong>
                    <div class="ce-example__statusbar-button" id="toggleReadOnlyButton">
                        toggle
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <span class="w-50">
                        <button type="button" class="btn px-1 py-0">
                            <i class="bi bi-star-fill likes text-warning"></i>
                            <span class="mx-1">{{ question.likes.all|length }}</span>
                        </button>
                        {% comment %} <button type="button" class="btn px-1 py-0">
                            <em class="bi bi-caret-up-square-fill upvote"></em>
                            <span class="mx-1">10</span>
                        </button> {% endcomment %}
                        {% comment %} <button type="button" class="btn px-1 py-0">
                            <em class="bi bi-caret-down-square-fill downvote"></em>
                            <span class="mx-1">5</span>
                        </button> {% endcomment %}
                        {% comment %} <button type="button" class="btn px-1 py-0">
                            <em class="bi bi-eye-fill views"></em>
                            <span class="mx-1">71</span>
                        </button> {% endcomment %}
                    </span>
                    <span class="text-right text-muted w-50">
                        Updated @ {{ question.updatedAt|date:"d M Y H:i " }}
                    </span>
                </div>
            </div>
        </div>
        {% comment %} <div class="ce-example__output">
            <pre class="ce-example__output-content" id="output"></pre>
        </div> {% endcomment %}
    </div>
</div>
<div class="all-rendered-answer">
{% for ans in answers %}
    <div class="content bg-answer p-5" id="x{{ans.id}}">
        <div style="display:none">{{ans.body}}</div>
        <div class="container-fluid contents w-100">
            <div class="row">
                <div class="col-12">
                    <div class="form-group question-title field--not-empty">
                        <label style="font-size: 15px;">Answer Given By</label>
                        <span class="form-control pt-2" style="font-size: 25px;">{{ ans.user.username }}</span>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 ce-example">
                <div class="ce-example__content _ce-example__content--small">
                    <div class="row">
                        <div class="col-12" id="editorjs-x{{ans.id}}"></div>
                    </div>
                {% comment %} <div class="row">
                        <div class="col-sm-6 col-12 justify-content-right">
                            <div class="ce-example__button" id="saveButton">
                                Save
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-left">
                            <div class="ce-example2__button">
                                <input type="submit" value="Post"
                                    style="background: transparent; border: 0; color: #fff; font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;">
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="ce-example__statusbar">
                        Readonly:
                        <strong id="readonly-state">
                            Off
                        </strong>
                        <div class="ce-example__statusbar-button" id="toggleReadOnlyButton">
                            toggle
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="d-flex align-items-center">
                <span class="w-50">
                    {% comment %} <button type="button" class="btn px-1 py-0">
                        <i class="bi bi-star-fill likes text-warning"></i>
                        <span class="mx-1">{{ que.likes.all|length }}</span>
                    </button> {% endcomment %}
                    <button type="button" class="btn px-1 py-0">
                        <em class="bi bi-caret-up-square-fill upvote"></em>
                        <span class="mx-1">{{ ans.upvote.all|length }}</span>
                    </button>
                    {% comment %} <button type="button" class="btn px-1 py-0">
                        <em class="bi bi-caret-down-square-fill downvote"></em>
                        <span class="mx-1">5</span>
                    </button> {% endcomment %}
                    {% comment %} <button type="button" class="btn px-1 py-0">
                        <em class="bi bi-eye-fill views"></em>
                        <span class="mx-1">71</span>
                    </button> {% endcomment %}
                </span>
                <span class="text-right text-muted w-50">
                    Updated @ {{ ans.updatedAt|date:"d M Y H:i " }}
                </span>
            </div>
            {% comment %} <div class="ce-example__output">
                <pre class="ce-example__output-content" id="output"></pre>
            </div> {% endcomment %}
        </div>
    </div>
{% endfor %}
</div>
{% if user.is_authenticated %}
    <div class="content bg-answer p-5">
        <div class="container-fluid contents w-100">
            <form method="POST" action="{% url 'add_answer' question.id %}" onsubmit="return post()">
            {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group question-title field--not-empty">
                            <label style="font-size: 15px;">Give your Answer</label>
                            <span class="form-control pt-2" style="font-size: 25px;">{{ user.username }}</span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid p-0 ce-example">
                    <div class="ce-example__content _ce-example__content--small">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-12 h5 font-weight-bold">
                                Type your answer here
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="editorjs"></div>
                        </div>
                        <div class="row">
                            <div class="col-12 sr-only">
                                <textarea name="jsonData" class="w-100" id="jsonData" readonly></textarea>
                            </div>
                            <div class="col-12 error-message text-center">
                                <p class="font-weight-bold text-danger h4 mb-5" id="contentEmpty"></p>
                            </div>
                            {% comment %} <div class="col-sm-6 col-12 justify-content-right">
                                <div class="ce-example__button" id="saveButton">
                                    Save
                                </div>
                            </div> {% endcomment %}
                            <div class="col-sm-12 col-12 text-left">
                                <div class="ce-example2__button">
                                    <input type="submit" value="Post"
                                        style="background: transparent; border: 0; color: #fff; font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;">
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="ce-example__statusbar">
                            Readonly:
                            <strong id="readonly-state">
                                Off
                            </strong>
                            <div class="ce-example__statusbar-button" id="toggleReadOnlyButton">
                                toggle
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                {% comment %} <div class="ce-example__output">
                    <pre class="ce-example__output-content" id="output"></pre>
                </div> {% endcomment %}
            </form>
        </div>
    </div>
{% else %}
    <div class="bg-answer p-5">
        <div class="row">
            <div class="col-12 h4 text-center">
                To give your Answer first Sign In by click on the below button
            </div>
            <div class="col-12 text-center mt-4">
                <a href="{% url 'signin' %}">
                    <span class="btn btn-primary">Sign In</span>
                </a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block js %}
<script src="{% static '/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>
<script src="{% static '/js/signin.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>

<!-- Base Image Tool<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->

<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

<!-- Load Editor.js's Core -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<!-- Initialization -->
<script>
    const getEditorJS = (idd, data)=>{
        
    }
</script>
<script>
    function post() {
        textarea = document.getElementById("jsonData");
        editor.save().then(
            (savedData) => {
                blocksData = JSON.stringify(savedData);
                // console.log(blocksData);
                textarea.innerHTML = blocksData;
            }
        );
        data = document.getElementById("jsonData").value;
        // console.log(data.length);
        if(data.length <= 53) {
            document.getElementById("contentEmpty").innerHTML = "Answer body is Empty";
            return false;
        }
        return true;
    }
    answerr = document.querySelector('.all-rendered-answer').children
    for(var i = 0; i < answerr.length; i++){
        data = document.querySelector('#'+answerr[i].id).children[0].textContent
        document.querySelector('#'+answerr[i].id).children[0].innerHTML = ""
        var editor = new EditorJS({
        readOnly: false,
        holder: 'editorjs-'+answerr[i].id,
        tools: {
            header: {
                class: Header,
                inlineToolbar: ['marker', 'link'],
                config: {
                    placeholder: 'Header'
                },
                shortcut: 'CMD+SHIFT+H'
            },
            image: {
                class: ImageTool,
                config: {
                    endpoints: {
                        byFile: '/question/uploadImg/'
                    }
                },
                inlineToolbar: true
            },

            list: {
                class: List,
                inlineToolbar: true,
                shortcut: 'CMD+SHIFT+L'
            },

            checklist: {
                class: Checklist,
                inlineToolbar: true,
            },

            quote: {
                class: Quote,
                inlineToolbar: true,
                config: {
                    quotePlaceholder: 'Enter a quote',
                    captionPlaceholder: 'Quote\'s author',
                },
                shortcut: 'CMD+SHIFT+O'
            },

            warning: Warning,

            marker: {
                class: Marker,
                shortcut: 'CMD+SHIFT+M'
            },

            code: {
                class: CodeTool,
                shortcut: 'CMD+SHIFT+C'
            },

            delimiter: Delimiter,

            inlineCode: {
                class: InlineCode,
                shortcut: 'CMD+SHIFT+C'
            },

            linkTool: LinkTool,

            embed: Embed,

            table: {
                class: Table,
                inlineToolbar: true,
                shortcut: 'CMD+ALT+T'
            },

        },
        data: JSON.parse(data),
        onReady: function () {
            saveButton.click();
        },
        onChange: function (api, event) {
            console.log('something changed', event);
        }
    });
    }

    var editor = new EditorJS({
        readOnly: false,
        holder: 'editorjs',
        tools: {
            header: {
                class: Header,
                inlineToolbar: ['marker', 'link'],
                config: {
                    placeholder: 'Header'
                },
                shortcut: 'CMD+SHIFT+H'
            },
            image: {
                class: ImageTool,
                config: {
                    endpoints: {
                        byFile: '/question/uploadImg/'
                    }
                },
                inlineToolbar: true
            },

            list: {
                class: List,
                inlineToolbar: true,
                shortcut: 'CMD+SHIFT+L'
            },

            checklist: {
                class: Checklist,
                inlineToolbar: true,
            },

            quote: {
                class: Quote,
                inlineToolbar: true,
                config: {
                    quotePlaceholder: 'Enter a quote',
                    captionPlaceholder: 'Quote\'s author',
                },
                shortcut: 'CMD+SHIFT+O'
            },

            warning: Warning,

            marker: {
                class: Marker,
                shortcut: 'CMD+SHIFT+M'
            },

            code: {
                class: CodeTool,
                shortcut: 'CMD+SHIFT+C'
            },

            delimiter: Delimiter,

            inlineCode: {
                class: InlineCode,
                shortcut: 'CMD+SHIFT+C'
            },

            linkTool: LinkTool,

            embed: Embed,

            table: {
                class: Table,
                inlineToolbar: true,
                shortcut: 'CMD+ALT+T'
            },

        },
        data : {
        },
        onReady: function () {
            saveButton.click();
        },
        onChange: function (api, event) {
            console.log('something changed', event);
        }
    });
</script>
<script>
    
    /**
     * To initialize the Editor, create a new instance with configuration object
     * @see docs/installation.md for mode details
     */
    var editorque = new EditorJS({
        readOnly: false,
        holder: 'editorjs-que',
        tools: {
           
            header: {
                class: Header,
                inlineToolbar: ['marker', 'link'],
                config: {
                    placeholder: 'Header'
                },
                shortcut: 'CMD+SHIFT+H'
            },

            
            image: {
                class: ImageTool,
                config: {
                    endpoints: {
                        byFile: '/question/uploadImg/'
                    }
                },
                inlineToolbar: true
            },

            list: {
                class: List,
                inlineToolbar: true,
                shortcut: 'CMD+SHIFT+L'
            },

            checklist: {
                class: Checklist,
                inlineToolbar: true,
            },

            quote: {
                class: Quote,
                inlineToolbar: true,
                config: {
                    quotePlaceholder: 'Enter a quote',
                    captionPlaceholder: 'Quote\'s author',
                },
                shortcut: 'CMD+SHIFT+O'
            },

            warning: Warning,

            marker: {
                class: Marker,
                shortcut: 'CMD+SHIFT+M'
            },

            code: {
                class: CodeTool,
                shortcut: 'CMD+SHIFT+C'
            },

            delimiter: Delimiter,

            inlineCode: {
                class: InlineCode,
                shortcut: 'CMD+SHIFT+C'
            },

            linkTool: LinkTool,

            embed: Embed,

            table: {
                class: Table,
                inlineToolbar: true,
                shortcut: 'CMD+ALT+T'
            },

        },

        /**
         * This Tool will be used as default
         */
        // defaultBlock: 'paragraph',

        /**
         * Initial Editor data
         */
        data: JSON.parse("{{question.body|escapejs}}"),
        onReady: function () {
            saveButton.click();
        },
        onChange: function (api, event) {
            console.log('something changed', event);
        }
    });

    /**
     * Saving button
     */
    const saveButton = document.getElementById('saveButton');

    /**
     * Toggle read-only button
     */
    const toggleReadOnlyButton = document.getElementById('toggleReadOnlyButton');
    const readOnlyIndicator = document.getElementById('readonly-state');

    /**
     * Saving example
     */
    // saveButton.addEventListener('click', function () {
    //     editor.save()
    //         .then((savedData) => {
    //             cPreview.show(savedData, document.getElementById("output"));
    //         })
    //         .catch((error) => {
    //             console.error('Saving error', error);
    //         });
    // });

    /**
     * Toggle read-only example
     */
    // toggleReadOnlyButton.addEventListener('click', async () => {
    //     const readOnlyState = await editor.readOnly.toggle();

    //     readOnlyIndicator.textContent = readOnlyState ? 'On' : 'Off';
    // });
</script>
<script>
    /**
     * Module to compose output JSON preview
     */
    const cPreview = (function (module) {
        /**
         * Shows JSON in pretty preview
         * @param {object} output - what to show
         * @param {Element} holder - where to show
         */
        module.show = function (output, holder) {
            /** Make JSON pretty */
            output = JSON.stringify(output, null, 4);
            /** Encode HTML entities */
            output = encodeHTMLEntities(output);
            /** Stylize! */
            output = stylize(output);
            holder.innerHTML = output;
        };

        /**
         * Converts '>', '<', '&' symbols to entities
         */
        function encodeHTMLEntities(string) {
            return string.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        }

        /**
         * Some styling magic
         */
        function stylize(string) {
            /** Stylize JSON keys */
            string = string.replace(/"(\w+)"\s?:/g, '"<span class=sc_key>$1</span>" :');
            /** Stylize tool names */
            string = string.replace(
                /"(paragraph|quote|list|header|link|code|image|delimiter|raw|checklist|table|embed|warning)"/g,
                '"<span class=sc_toolname>$1</span>"');
            /** Stylize HTML tags */
            string = string.replace(/(&lt;[\/a-z]+(&gt;)?)/gi, '<span class=sc_tag>$1</span>');
            /** Stylize strings */
            string = string.replace(/"([^"]+)"/gi, '"<span class=sc_attr>$1</span>"');
            /** Boolean/Null */
            string = string.replace(/\b(true|false|null)\b/gi, '<span class=sc_bool>$1</span>');
            return string;
        }

        return module;
    })({});
</script>
<script>
    var extraSpace = document.querySelectorAll('.codex-editor__redactor');
    var i = 0
    for(i;i<extraSpace.length;i++) {
        // Both Method will Work
        // // Method 1
        // extraSpace[i].style.cssText = "padding-bottom: 100px";
        // // Method 2
        extraSpace[i].style.paddingBottom = "0px";
    }
    if(extraSpace.length > 1)
        extraSpace[extraSpace.length-1].style.paddingBottom = "200px";
</script>
{% endblock js %}